.agreement {
  position: relative;
}

.agreement input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: -22px;
  top: 3px;
}

.agreement__label {
  opacity: 0.8;
  letter-spacing: -0.01em;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.agreement input + label {
  user-select: none;
  position: relative;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  cursor: pointer;
}

.agreement input + label::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;

  background-color: $orange;
  filter: brightness(30%);
  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.agreement input:focus + label::before {
  filter: brightness(60%);
}

.agreement input:checked + .agreement__label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;

  background-image: url("../img/checked-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: none;
}

.agreement__label span {
  text-decoration: underline;
}
