.container {
  min-width: 320px;
  min-height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $mobile-width) {
    background-position: top;
  }
}

.container--quests {
  background-image: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

.container--index {
  background-image: url("../img/main-bg-desktop@1x.jpg");

  @media (max-width: $mobile-width) {
    background-image: url("../img/main-bg-mobile@1x.jpg");
  }

  &.webp {
    background-image: url("../img/main-bg-desktop@1x.webp");

    @media (max-width: $mobile-width) {
      background-image: url("../img/main-bg-mobile@1x.webp");
    }
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/main-bg-desktop@2x.jpg");

    @media (max-width: $mobile-width) {
      background-image: url("../img/main-bg-mobile@2x.jpg");
    }

    &.webp {
      background-image: url("../img/main-bg-desktop@2x.webp");

      @media (max-width: $mobile-width) {
        background-image: url("../img/main-bg-mobile@2x.webp");
      }
    }
  }
}

.container--maniac {
  background-image: url("../img/maniac-bg-desktop@1x.jpg");
  background-position: left;

  @media (max-width: $mobile-width) {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/maniac-bg-mobile@1x.jpg");
    background-size: 100% auto;
    background-position: top;
  }

  &.webp {
    background-image: url("../img/maniac-bg-desktop@1x.webp");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/maniac-bg-mobile@1x.webp");
    }
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/maniac-bg-desktop@2x.jpg");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/maniac-bg-mobile@2x.jpg");
    }

    &.webp {
      background-image: url("../img/maniac-bg-desktop@2x.webp");

      @media (max-width: $mobile-width) {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/maniac-bg-mobile@2x.webp");
      }
    }
  }
}

.container--mystic {
  background-image: url("../img/secrets-bg-desktop@1x.jpg");
  background-position: left;

  @media (max-width: $mobile-width) {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@1x.jpg");
    background-size: 100% auto;
    background-position: top;
  }

  &.webp {
    background-image: url("../img/secrets-bg-desktop@1x.webp");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@1x.webp");
    }
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/secrets-bg-desktop@2x.jpg");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@2x.jpg");
    }

    &.webp {
      background-image: url("../img/secrets-bg-desktop@2x.webp");

      @media (max-width: $mobile-width) {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@2x.webp");
      }
    }
  }
}

.container--ritual {
  background-image: url("../img/ritual-bg-desktop@1x.jpg");
  background-position: left;

  @media (max-width: $mobile-width) {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/ritual-bg-mobile@1x.jpg");
    background-size: 100% auto;
    background-position: top;
  }

  &.webp {
    background-image: url("../img/ritual-bg-desktop@1x.webp");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/ritual-bg-mobile@1x.webp");
    }
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/ritual-bg-desktop@2x.jpg");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/ritual-bg-mobile@2x.jpg");
    }

    &.webp {
      background-image: url("../img/ritual-bg-desktop@2x.webp");

      @media (max-width: $mobile-width) {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@2x.webp");
      }
    }
  }
}

.container--experiment {
  background-image: url("../img/experiment-bg-desktop@1x.jpg");
  background-position: left;

  @media (max-width: $mobile-width) {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/experiment-bg-mobile@1x.jpg");
    background-size: 100% auto;
    background-position: top;
  }

  &.webp {
    background-image: url("../img/experiment-bg-desktop@1x.webp");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/experiment-bg-mobile@1x.webp");
    }
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/experiment-bg-desktop@2x.jpg");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/experiment-bg-mobile@2x.jpg");
    }

    &.webp {
      background-image: url("../img/experiment-bg-desktop@2x.webp");

      @media (max-width: $mobile-width) {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/experiment-bg-mobile@2x.webp");
      }
    }
  }
}

.container--order {
  background-image: url("../img/order-bg-desktop@1x.jpg");
  background-position: left;

  @media (max-width: $mobile-width) {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/order-bg-mobile@1x.jpg");
    background-size: 100% auto;
    background-position: top;
  }

  &.webp {
    background-image: url("../img/order-bg-desktop@1x.webp");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/order-bg-mobile@1x.webp");
    }
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/order-bg-desktop@2x.jpg");

    @media (max-width: $mobile-width) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/order-bg-mobile@2x.jpg");
    }

    &.webp {
      background-image: url("../img/order-bg-desktop@2x.webp");

      @media (max-width: $mobile-width) {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/order-bg-mobile@2x.webp");
      }
    }
  }
}

.container--nojs .main-block,
.container--nojs .quest-block {
  background-image: none;
}

@media (max-width: $mobile-width) {
  .container--opened {
    background-image: linear-gradient(170.74deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);
    z-index: 100;
  }

  .container--opened header {
    position: static;
    min-height: 100vh;
  }

  .container--opened footer {
    display: block;
  }

  .container--opened main {
    display: none;
  }

  .container--nojs header {
    position: static;
    min-height: auto;
    margin-bottom: 20px;
  }

  .container--nojs footer {
    display: block;
    z-index: 99;
    background-color: #1a140d;
    padding-top: 20px;
  }

  .container--nojs main {
    display: block;
  }

  .container--nojs .catalog__header {
    position: static;
    background-color: transparent;
  }

  .container--nojs .catalog {
    padding-top: 0;
  }

  .container--nojs .catalog__list {
    padding-top: 0;
    margin-bottom: 90px;
  }

  .container--nojs .header--catalog {
    padding-bottom: 20px;
  }

  .container--nojs .quest-block {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: -10px;

    margin-bottom: 90px;
  }

  .container--nojs .main-block {
    min-height: auto;
    background-image: url("../img/main-bg-mobile@1x.jpg");

    margin-bottom: 90px;

    &.webp {
      background-image: url("../img/main-bg-mobile@1x.webp");
    }

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/main-bg-mobile@2x.jpg");

      &.webp {
        background-image: url("../img/main-bg-mobile@2x.webp");
      }
    }
  }

  .container--nojs .quest-block--maniac {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/maniac-bg-mobile@1x.jpg");

    &.webp {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/maniac-bg-mobile@1x.webp");
    }

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/maniac-bg-mobile@2x.jpg");

      &.webp {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/maniac-bg-mobile@2x.webp");
      }
    }
  }

  .container--nojs .quest-block--ritual {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/ritual-bg-mobile@1x.jpg");

    &.webp {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/ritual-bg-mobile@1x.webp");
    }

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/ritual-bg-mobile@2x.jpg");

      &.webp {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/ritual-bg-mobile@2x.webp");
      }
    }
  }

  .container--nojs .quest-block--mystic {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@1x.jpg");

    &.webp {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@1x.webp");
    }

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@2x.jpg");

      &.webp {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/secrets-bg-mobile@2x.webp");
      }
    }
  }

  .container--nojs .quest-block--experiment {
    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/experiment-bg-mobile@1x.jpg");

    &.webp {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/experiment-bg-mobile@1x.webp");
    }

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/experiment-bg-mobile@2x.jpg");

      &.webp {
        background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%), url("../img/experiment-bg-mobile@2x.webp");
      }
    }
  }
}
