.fieldset {
  border: none;
  margin: 0;
  padding: 0 15px 0 0;

  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    padding: 0 8px 0 0;
  }
}

.fieldset label {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-feature-settings: "pnum" on, "lnum" on;

  padding-bottom: 14px;

  position: relative;

  @media (max-width: $mobile-width) {
    padding-right: 30px;
    word-wrap: none;
  }
}

.fieldset input {
  padding: 16px 10px 16px 24px;
  position: relative;

  &:required:valid {
    border-color: $green;
  }

  &:invalid {
    border-color: $orange;
  }
}

.fieldset__input-error {
  display: none;

  color: $orange;

  margin-top: -20px;
  padding-left: 24px;
  padding-bottom: 10px;
}

.fieldset__input-error--show {
  display: block;
}

.fieldset label::before {
  position: absolute;
  bottom: -11px;
  left: 24px;
  display: block;
  z-index: 11;

  font-weight: 500;
  font-size: 12px;
  color: rgba(230, 230, 230, 0.64);
  text-align: center;

  background-image: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

.fieldset__label-name--fill::before {
  content: "Имя";
  width: 45px;
}

.fieldset__label-email--fill::before {
  content: "Email";
  width: 65px;
}

.fieldset textarea,
.fieldset input {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.4);

  line-height: 20px;
  color: $white;

  margin-bottom: 30px;

  &::placeholder {
    opacity: 0.64;
  }
}

.fieldset textarea {
  max-height: 120px;
  padding: 16px 24px;

  resize: none;
}

.fieldset input:hover,
.fieldset input:focus,
.fieldset textarea:hover,
.fieldset textarea:focus {
  box-shadow: 0 0 0 1px #141414;
}

.fieldset__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
