.filter__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1079px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}


.filter__item {
  padding: 5px 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.32);
  flex: 1;

  cursor: pointer;

  white-space: nowrap;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  font-weight: 700;
  letter-spacing: -0.02em;

  &:nth-child(3n) {
    padding-right: 28px;

    @media (max-width: $mobile-width) {
      padding-right: 16px;
    }
  }

  &:nth-child(5n) {
    padding-right: 30px;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
    outline: none;
  }

  @media (max-width: $tablet-width) {
    padding: 5px 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 2px 16px;
  }
}

.filter__item--active span {
  position: relative;
  display: block;
  line-height: 26px;

  border-bottom: 2px solid $orange;
}

.filter__icon {
  padding-right: 5px;

  @media (max-width: $mobile-width) {
    padding-right: 12px;
  }
}

.filter__icon--all-quests {
  @media (max-width: $mobile-width) {
    width: 20px;
    height: 24px;
  }
}

.filter__icon--map {
  padding-right: 10px;

  @media (max-width: $mobile-width) {
    width: 29px;
    height: 24px;
  }
}

.filter__icon--scary {
  padding-right: 14px;
  padding-left: 6px;

  @media (max-width: $mobile-width) {
    width: 24px;
    height: 24px;

    padding-left: 0;
  }
}

.filter__icon--mystic {
  padding-right: 14px;

  @media (max-width: $mobile-width) {
    width: 24px;
    height: 24px;
  }
}

.filter__icon--detective {
  padding-right: 15px;

  @media (max-width: $mobile-width) {
    width: 32px;
    height: 24px;
  }
}

.filter__icon--atom {
  padding-right: 14px;

  @media (max-width: $mobile-width) {
    width: 22px;
    height: 24px;
  }
}
