.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer__inner {
  @include center-block;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 24px;
  align-items: flex-end;

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }
}

.footer__link {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $text-white;
  text-decoration: none;
  border-bottom: 1px dashed $text-white;

  @media (max-width: $mobile-width) {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 25px;
  }
}