.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 60;
}

.header--catalog {
  background-color: #1e1d1d;
}

.header__inner {
  @include center-block;

  padding-top: 20px;
  padding-right: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-top: 20px;
  }
}

.header__logo {
  padding-top: 5px;

  @media (max-width: $mobile-width) {
    align-self: start;
    padding-top: 0;
  }
}

.header__logo img {
  @media (max-width: $tablet-width) {
    width: 96px;
    height: 36px;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;

  position: relative;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.header__menu--opened {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.header__menu--closed .header__site-nav,
.header__menu--closed .header__contacts {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__menu--nojs {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column-reverse;

    & .header__toggle {
      display: none;
    }
  }
}

.header__site-nav {
  margin-right: 138px;

  @media (max-width: 1130px) {
    margin-right: 40px;
    margin-left: 20px;
  }

  @media (max-width: $tablet-width) {
    flex-grow: 1;
    justify-content: center;

    margin-right: 25px;
    margin-left: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.header__contacts {
  position: relative;

  @media (max-width: 1130px) {
    min-width: 250px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    padding-bottom: 40px;
    padding-top: 37px;
  }
}

.header__toggle {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    position: absolute;
    top: -28px;
    right: 0;
    width: 75px;
    height: 20px;

    cursor: pointer;

    background-color: transparent;
    border: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    font-feature-settings: "pnum" on, "lnum" on;
    text-align: left;
    text-transform: uppercase;

    padding: 0;

    color: $link-white;
  }
}

@media (max-width: $mobile-width) {
  .header__menu--closed .header__toggle {
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 14px;
      right: 0;
      background-image: url("../img/burger.svg");
    }

    &:active {
      opacity: 0.5;
    }
  }

  .header__menu--opened .header__toggle {
    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 8px;
      right: 0;
      width: 16px;
      height: 2px;
      background-color: $white;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.header__link {
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-feature-settings: "pnum" on, "lnum" on;
  color: $link-white;

  @media (max-width: $tablet-width) {
    font-size: 12px;
  }

  @media (max-width: $mobile-width) {
    color: $white;
    letter-spacing: 0.1em;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.header__link--city {
  font-weight: 700;
  color: $orange;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  margin-right: 20px;

  @media (max-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  &:hover {
    border-bottom: 1px dashed $orange;
    opacity: 1;
  }
}

.header__icon {
  position: absolute;
  left: -22px;
  bottom: -2px;

  @media (max-width: $mobile-width) {
    position: static;
    display: inline-block;
    height: 22px;
    vertical-align: middle;

    padding-right: 5px;
  }
}
