.link {
  text-decoration: none;
}

.link--breadcrumb {
  vertical-align: top;

  font-weight: 700;
  font-size: 12px;
  line-height: 17px;

  color: $text-white;
  text-transform: uppercase;

  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;

  padding-left: 14px;

  position: relative;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.link--breadcrumb::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 6px;
  height: 10px;

  background-image: url("../img/arrow-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}


.link--underline {
  color: $white;
  line-height: 32px;
  font-size: 15px;

  position: relative;

  border-bottom: 2px solid $orange;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.link--underline::before {
  content: "";
  position: absolute;
  right: -4px;
  transform: rotate(270deg);

  bottom: calc(50% - 6px);
  border: 4px solid transparent;
  border-top: 5px solid $white;
}
