.popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 60;

  overflow: auto;

  background-color: rgba(61, 51, 51, 0.96);
}

.popup__form .popup__wrapper {
  min-height: 682px;
  overflow: auto;
  padding-bottom: 12px;
}

.popup--nojs {
  position: relative;
  display: block;

  max-width: 1461px;
  margin: 0 auto;
  background-color: none;
  padding-bottom: 100px;

  & .popup__wrapper {
    position: static;
    margin: 0 auto;
    display: block;
    top: 0;
    transform: none;
    background-color: none;

    & .popup__toggle {
      display: none;
    }
  }
}

.popup__city-popup--opened,
.popup__form--opened {
  display: block;
}

.popup__wrapper {
  position: fixed;
  width: 480px;
  min-height: 485px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: scroll;


  box-sizing: border-box;

  padding: 32px 32px 10px;

  z-index: 50;
  background-image: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
  border-radius: 3px;

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: none;
    position: relative;
    top: 0;
    left: 0;

    padding: 32px 16px;
  }
}

.popup__wrapper form {
  margin-top: 14px;
}

.popup__wrapper h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: $white;

  display: flex;
  align-items: center;

  margin: 0;
  padding-bottom: 26px;
}

.popup__wrapper p {
  font-size: 17px;
  line-height: 27px;

  margin: 0;

  &:last-of-type {
    padding-top: 40px;
    padding-bottom: 16px;
  }
}

.popup__gps-link {
  position: relative;
  padding-left: 32px;
  font-size: 17px;
  line-height: 27px;
  color: $text-white;
  text-decoration: none;
  letter-spacing: -0.01em;

  display: inline-block;
  vertical-align: top;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;

    background-image: url("../img/gps-icon.svg");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 3px;
    opacity: 0.5;
    width: calc(100% - 36px);
    height: 1px;
    background-color: $white;
  }
}

.popup__toggle {
  position: absolute;
  top: 35px;
  right: 28px;

  display: block;
  width: 25px;
  height: 25px;
  background: none;
  cursor: pointer;
  border: none;

  @media (max-width: $mobile-width) {
    right: 12px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    right: 3px;
    width: 18px;
    height: 2px;
    background-color: $white;
    opacity: 0.5;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.popup__toggle:hover::before,
.popup__toggle:hover::after {
  opacity: 1;
}

.popup__cities-list {
  @include list-reset;
}

.popup__city {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.popup__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-feature-settings: "pnum" on, "lnum" on;

  opacity: 0.32;

  color: $white;

  text-decoration: none;
  position: relative;

  display: inline-block;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}

.popup__link--active {
  opacity: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $orange;
  }
}

.popup__button {
  width: 219px;
  padding: 15px 0 16px;
  margin: 3px auto 22px;
  background-color: #b8b8b8;
}

.popup__agreement {
  margin-left: 24px;
}
