.quest-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;

  @include center-block;

  @media (max-width: $mobile-width) {
    justify-content: flex-start;

    background-image: linear-gradient(167.98deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 55%, #1a140d 106.79%);
  }
}

.quest-block__inner {
  max-width: 680px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: 54px;
  padding: 100px 125px 124px 0;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    padding: 88px 0 58px;
  }
}

.quest-block__inner h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $orange;

  margin: 0;
  padding-bottom: 8px;
  padding-left: 7px;

  order: 1;

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.quest-block__inner h1 {
  font-weight: 900;
  font-size: 92px;
  line-height: 87px;

  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: $white;

  margin: 0;
  padding-bottom: 32px;

  order: 2;

  @media (max-width: $tablet-width) {
    font-size: 72px;
    line-height: 65px;
  }

  @media (max-width: $mobile-width) {
    font-size: 42px;
    line-height: 46px;
    letter-spacing: -0.01em;

    padding-bottom: 9px;
  }
}

.quest-block__desc-list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  align-items: center;
  order: 3;

  padding-left: 32px;
  margin-bottom: 16px;

  @media (max-width: $mobile-width) {
    padding-left: 0;
    justify-content: center;
  }
}

.quest-block__desk-item {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;

  border-right: 1px solid rgba(255, 255, 255, 0.36);

  padding: 5px 23px;

  &:nth-child(2n) {
    padding-right: 24px;
    padding-left: 18px;

    @media (max-width: $mobile-width) {
      padding: 0 16px 4px 20px;
    }
  }

  &:first-child {
    padding-left: 0;

    @media (max-width: $mobile-width) {
      padding-right: 14px;
      padding-bottom: 4px;
    }
  }

  &:last-child {
    padding-right: 0;
    border-right: 0;

    @media (max-width: $mobile-width) {
      padding-left: 14px;
      padding-top: 10px;

      line-height: 17px;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    width: 33%;

    padding: 0;

    text-align: center;
  }
}

.quest-block__icon {
  margin-right: 6px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.quest-block p {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-feature-settings: "pnum" on, "lnum" on;

  padding-left: 32px;
  padding-bottom: 45px;
  margin: 0;

  order: 4;

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-bottom: 29px;

    letter-spacing: -0.02em;
  }
}

.quest-block__button {
  width: 250px;

  margin-left: 32px;
  padding: 23px 0;

  font-size: 17px;

  order: 5;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.quest-block__link {
  display: none;

  @media (max-width: $mobile-width) {
    display: inline-block;
    vertical-align: top;

    margin-bottom: 294px;
  }
}

.quest-block__link--small {
  @media (max-width: $mobile-width) {
    margin-bottom: 182px;
  }
}

.quest-block__inner--ritual {
  padding-bottom: 133px;
}

.quest-block__inner--ritual .quest-block__link {
  @media (max-width: $mobile-width) {
    margin-bottom: 288px;
  }
}

.quest-block__inner--ritual h2 {
  padding-bottom: 19px;

  @media (max-width: $mobile-width) {
    padding-bottom: 10px;
  }
}

.quest-block__inner--ritual h1 {
  padding-bottom: 27px;

  @media (max-width: $mobile-width) {
    padding-bottom: 7px;
  }
}

.quest-block__inner--mystic {
  padding-top: 137px;

  @media (max-width: $mobile-width) {
    padding-top: 88px;
  }
}

.quest-block__inner--mystic .quest-block__desc-list {
  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
    padding-right: 2px;
  }
}

.quest-block__inner--mystic h2 {
  padding-bottom: 22px;
  padding-left: 0;

  @media (max-width: $mobile-width) {
    padding-bottom: 24px;
  }
}

.quest-block__inner--mystic h1 {
  padding-bottom: 23px;

  @media (max-width: $mobile-width) {
    padding-bottom: 14px;
  }
}


.quest-block__inner--experiment {
  padding-top: 137px;

  @media (max-width: $mobile-width) {
    padding-top: 368px;
  }
}

.quest-block__inner--experiment h2 {
  padding-bottom: 22px;
  padding-left: 0;

  @media (max-width: $mobile-width) {
    padding-bottom: 11px;
  }
}

.quest-block__inner--experiment h1 {
  padding-bottom: 23px;

  @media (max-width: $mobile-width) {
    padding-bottom: 7px;
  }
}

.quest-block__inner--experiment .quest-block__desc-list {
  padding-left: 41px;
  margin-bottom: 19px;

  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-bottom: 15px;
  }
}

.quest-block__inner--experiment p {
  padding-left: 41px;

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.quest-block__inner--experiment .quest-block__button {
  margin-left: 40px;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.quest-block__desk-item--mystic {
  @media (max-width: $mobile-width) {
    &:last-child {
      padding-top: 0;
    }
  }
}
