.social__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-right: 16px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width) {
    width: 36px;
    height: 36px;
  }
}

.social__link--insta {
  background-image: url("../img/instagram-icon.svg");

  &:hover {
    background-image: url("../img/instagram-hover.svg");
  }
}

.social__link--vk {
  background-image: url("../img/vk-icon.svg");

  &:hover {
    background-image: url("../img/vk-hover.svg");
  }
}
