@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
