@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin center-block {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
