body {
  font-family: $Raleway;
  font-size: 14px;
  color: $text-white;
  background-color: $bg-color;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input::-webkit-appearance,
textarea::-webkit-appearance,
select::-webkit-appearance {
  appearance: none;
}
