/* SIZING */
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* TYPOGRAPHY */
$Raleway: "Raleway", "Arial", sans-serif;

/* COLORS */
$white: #ffffff;
$bg-color: #3d3333;
$text-white: #e5e5e5;
$link-white:  #f0f0f0;
$gray-btn: #b8b8b8;
$orange: #f2890f;
$orange-hvr: #f39425;
$green: #13ba19;
